* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body, html {
	height: 100%;
	font: 400 15px/1.8 "Ubuntu", sans-serif;
	color: #f1f1f1;
	background: black;
}

/*start of background_image style*/
.bg {
	background-image: url('../images/san-diego.jpeg');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 60%;
}
/*end of  background_image style*/

/*start of animated letters------------------------------------------*/
div.container {
	text-align: center;
}

.text-animation {
	text-align: center;
	position: absolute;
	top: 30%;
	left: 50%;
	font-size: 100%;
	list-style: none;
	transform: translateX(-50%) translateY(-50%);
}

.text-animation li {
	display: inline-block;
	margin-right: 1rem;
	font-size: 5em;
	opacity: 1;
	transition: all 2s ease;
}

.text-animation li:last-child {
	margin-right: 0;
}

.text-animation.hidden {
	opacity: 0;
}

.text-animation.hidden li:nth-child(1) {transform: translateX(-200px) translateY(-200px);}
.text-animation.hidden li:nth-child(2) {transform: translateX(20px) translateY(100px);}
.text-animation.hidden li:nth-child(3) {transform: translateX(-150px) translateY(-80px);}
.text-animation.hidden li:nth-child(4) {transform: translateX(10px) translateY(-200px);}
.text-animation.hidden li:nth-child(5) {transform: translateX(-300px) translateY(200px);}
.text-animation.hidden li:nth-child(6) {transform: translateX(20px) translateY(-20px);}
.text-animation.hidden li:nth-child(7) {transform: translateX(30px) translateY(200px);}
.text-animation.hidden li:nth-child(8) {transform: translateX(-200px) translateY(-200px);}
.text-animation.hidden li:nth-child(9) {transform: translateX(20px) translateY(100px);}
.text-animation.hidden li:nth-child(10) {transform: translateX(-150px) translateY(-80px);}
.text-animation.hidden li:nth-child(11) {transform: translateX(10px) translateY(-200px);}
.text-animation.hidden li:nth-child(12) {transform: translateX(-200px) translateY(-100px);}
.text-animation.hidden li:nth-child(13) {transform: translateX(-150px) translateY(80px);}
.text-animation.hidden li:nth-child(14) {transform: translateX(20px) translateY(-20px);}
.text-animation.hidden li:nth-child(15) {transform: translateX(30px) translateY(200px);}
.text-animation.hidden li:nth-child(16) {transform: translateX(-200px) translateY(-200px);}
.text-animation.hidden li:nth-child(17) {transform: translateX(20px) translateY(100px);}
.text-animation.hidden li:nth-child(18) {transform: translateX(-150px) translateY(-80px);}
.text-animation.hidden li:nth-child(19) {transform: translateX(10px) translateY(-200px);}
.text-animation.hidden li:nth-child(20) {transform: translateX(-175px) translateY(-100px);}

@media only screen and (max-width: 450px) {
	.text-animation li {
		font-size: 30px;
		margin: 0 auto;
	}
}
/*end of animated letters----------------------------------------------*/

/*start of main content for about me style*/
.main-container {
	position: absolute;
	top: 500px
}

.left-inner_container {
	float: left;
	width: 50%;
	padding: 3%;
}

/*styles both headers of left-inner-container*/
.left-inner_container span {
	text-align: center;
	width: 30%;
	display: flex;
	flex-flow: column;
	justify-content: center;
}
/*end of styles both headers of left-inner-container*/

/*who am I style*/
.left-inner_container span:first-child {
	margin-left: 10%;
	font-size: 300%;
	width: 40%;
	color: #f1f1f1;
}
/*end of who am I style*/

/*lets find out style*/
.left-inner_container span:last-of-type {
	margin-left: 45%;
	width: 40%;
	background-color: #092638;
	border-radius: 3px;
	font-size: 250%;
}
/*end of lets find out style*/

/*hire me, iam great at coding style*/
.left-inner_container p:last-child {
	display: inline-block;
	text-align: center;
	margin: 10% 0 0 0%;
	background-color: #092638;
	border-radius: 3px;;
	color: #f1f1f1;
	width: 100%;
	font-size: 250%;
}
/*end of hire me style*/

.left-pic_words {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	font-size: 110%;
	padding: 5% 0% 0% 0;
	margin-top: 5%;
}

.left-pic_words p {
	text-align: center;
}

.right-inner_container {
	float: right;
	width: 50%;
}

.right-inner_container > span {
	text-align: center;
	width: 30%;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.right-inner_container span:first-child {
	margin-left: 10%;
	font-size: 300%;
	width: 40%;
	color: #f1f1f1;
}

.right-inner_container span:last-of-type {
	margin-left: 30%;
	width: 61%;
	background-color: #092638;
	border-radius: 3px;
	font-size: 250%;
}

.right-inner_container {
	padding: 3%;
}

.skills_container {
	width: 95%;
	background-color: #ddd;
	margin: 2%;
	border-radius: 5px;
	border: 1px #ddd solid;
}

.skills {
  text-align: right;
  padding-right: 5%;
  line-height: 250%;
  color: #f1f1f1;
  border-radius: 5px;
}

.html {width: 90%; background-color: #092638;}
.css {width: 80%; background-color: #092638;}
.js {width: 70%; background-color: #092638;}
.jquery {width: 65%; background-color: #092638;}
.react {width: 60%; background-color: #092638;}

#luis_pic {
	border-radius: 100%;
	width: 36%;
	height: 100%;
	margin-top: 2.5%;
}

@media only screen and (max-width: 450px) {

	.main-container {

	}

	.left-inner_container {
		;
	}

	.left-inner_container span {

	}

	.left-inner_container span:first-child {
		font-size: 300%;
	}

	.left-inner_container span:last-of-type {
		font-size: 300%;
	}

	.left-inner_container p:last-child {

	}

	.left-pic_words {

	}

	.left-pic_words p {

	}

	.right-inner_container {

	}

	.right-inner_container > span {

	}

	.right-inner_container span:first-child {

	}

	.right-inner_container span:last-of-type {

	}

	.right-inner_container {

	}

	.skills_container {

	}

	.skills {

	}

	#luis_pic {

	}


}
/*end of main content about me style*/

/* start of nav component*/
/* The side navigation menu */
.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 2; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0px;
	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */
.sidenav a {
	padding: 30px 8px 8px 32px;
	text-decoration: none;
	font-size: 40px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: -45px;
	right: 5px;
	font-size: 250%;
	margin-left: 50px;
}

#nav-icon {
	color: #f1f1f1;
	position: fixed;
	top: 0;
	left: 2%;
	font-size: 300%;
	cursor: pointer;
}

.nav-icon_hide {
	display: none;
}

@media only screen and (max-width: 450px) {

	#nav-icon {
		font-size: 200%;
	}


}



/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#index_main {
	transition: margin-left .5s;
	min-height: 100%;
}

#aboutMe_main {
	transition: margin-left .5s;
	min-height: 100%;
}

#projects_main {
	position: relative;
	transition: margin-left .5s;
	min-height: 100%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media only screen and (max-width: 450px) {
.sidenav {
	padding-top: 10px;
}

.sidenav a {
	margin-top: 15px;
	font-size: 25px;
}
}
/* end of nav component*/

/*main body*/
.bgimg-1, .bgimg-2, .bgimg-3 {
	position: relative;
	opacity: 0.95;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
}

.bgimg-1 {
	background-image: url("https://images.unsplash.com/photo-1456030680012-9aa5bd962cc4?auto=format&fit=crop&w=1500&q=80");
	min-height: 100%;
	line-height: 65px;
}

.bgimg-2 {
	background-image: url("https://images.unsplash.com/photo-1505238680356-667803448bb6?auto=format&fit=crop&w=1500&q=80");
	min-height: 400px;
}

.bgimg-3 {
	background-image: url("https://images.unsplash.com/photo-1509092564125-0a8f31e9710e?auto=format&fit=crop&w=1500&q=80");
	min-height: 400px;
}

.caption {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
	top: 220px;
}

.caption span.border {
	color: #fff;
	padding: 20px;
	font-size: 25px;
	letter-spacing: 10px;
}

.border {
	background-color: black;
	opacity: .75;
}

.wordHeader {
	text-align: center;
	background-color: black;
	margin: 0;
}

.wordHeader > h3 {
	letter-spacing: 5px;
	text-transform: uppercase;
	font: 20px "Lato", sans-serif;
	color: #f1f1f1;
	margin : 0;
}

@media only screen and (max-width: 450px) {

	.caption span.border {
		font-size: 12.5px;
	}

	.wordHeader > h3 {
		font-size: 12.5px;
	}


}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
.bgimg-1, .bgimg-2, .bgimg-3 {
	background-attachment: scroll;
}
}
/*end of body*/

/*start of background video*/
.homepage-hero-module {
	border-right: none;
	border-left: none;
	position: relative;
	display:inline;
}

.no-video .video-container video,
.touch .video-container video {
	display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
	display: block !important;
}

.video-container {
	position: relative;
	bottom: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: #000;
}

.video-container .poster img {
	width: 100%;
	bottom: 0;
	position: absolute;
}

.video-container .filter {
	z-index: -100;
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
}

.video-container video {
	position: relative;
	z-index: 0;
	bottom: 7px;
	margin-bottom: -7px;
}

.video-container video.fillWidth {
	width: 100%;
}
/*end of background video*/

/*start of images in a row*/
.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	height: 300px;
	align-items: center;
	width: 100%;
	margin-top: 5%;
	padding:10px;
    padding-bottom:60px;
}

.container-img {
	position: relative;
	width: 40%;
	margin-top: 2%;
	margin: 5%;
}

.prjc-img {
	border-radius: 25px;
	width: 100%;
	display: block;
  	max-height: 375px;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: black;
}

.container-img:hover .overlay {
	opacity: 1;
	border-radius: 25px;
}

.text {
	color: #f1f1f1;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}
/*end of images in a row*/

/*start of header title*/
#header {
	display: flex;
	flex-flow: row ;
	justify-content: center;
}

#header > h1 {
	top: -500px;
	z-index: 1;
	padding: 10px;
	font-size: 3.5rem;
	position: absolute;
}

@media only screen and (max-width: 450px) {

#header >h1 {
	font-size: 1rem;
	top: 5%;
}

.container-img {
	padding: 15px;
}
}

/*end of header title*/

/*start of side-logos icons */
.sticky-container{
	padding: 0px;
	margin: 0px;
	position: fixed;
	right: -165px;
	top: 230px;
	width: 210px;
	z-index: 1100;
}

.sticky li{
	list-style-type:none;
	color:#f1f1f1;
	height:43px;
	padding:0px;
	margin:0px 0px 5px 0px;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
	cursor:pointer;
}
.sticky li:hover{
	margin-left:-50%;
}
.sticky li img{
	float:left;
	margin:5px 4px;
	margin-right:5px;
}
.sticky li p{
	padding-top:5px;
	margin:0px;
	line-height:16px;
	font-size:11px;
	padding-left: 50px;
}
.sticky li p a{
	text-decoration:none;
	color:#f1f1f1;
}

.sticky li p a:hover{
	text-decoration: underline;
}

/*start of footer*/
.footer {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

#index_footer {
	position: absolute;
	bottom: -314%;
	width: 85%;
	height: 60px;
	text-align: center;
	color: #f1f1f1;
	padding-bottom: 100px;
}

#about_footer {
	position: absolute;
	bottom: -125%;
	width: 85%;
	height: 60px;
	text-align: center;
	color: #f1f1f1;
	background: #f1f1f1;
	padding-bottom: 100px;
}

#projects_footer {
	position: absolute;
	bottom: -125%;
	width: 85%;
	height: 60px;
	text-align: center;
	color: #f1f1f1;
	background: #f1f1f1;
	padding-bottom: 100px;
}

#footerImg {
	height: 20%;
	width: 10%;
}

@media only screen and (max-width: 450px) {
	.flexContainer {
		padding: 20px;
	}

	.footer {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}

	#projects_footer {
		position: absolute;
		bottom: -35%;
		width: 85%;
		text-align: center;
		color: #f1f1f1;
		background: #f1f1f1;
		padding-bottom: 0px;
	}

	#projects_footer h5 {
		padding-top: 30px;
	}

	#about_footer {
		position: absolute;
		bottom: -30%;
		width: 85%;
		height: 5%;
		text-align: center;
		color: #f1f1f1;
		background: #f1f1f1;
		padding-bottom: 45px;
	}

	#footerImg {
		height: 20%;
		width: 10%;
	}

}
/*end of footer*/
