* {
	box-sizing: border-box;
}

body, html {
	height: 100%;
	padding: 0;
	margin: 0;
	font: 400 15px/1.8 "Ubuntu", sans-serif;
	color: #f1f1f1;
	background: black;
}

/* start of nav component*/
/* The side navigation menu */
.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0px;
	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: 0px;
	right: 25px;
	font-size: 250%;
	margin-left: 50px;
}

#nav-icon {
	color: #f1f1f1;
	position: fixed;
	top: 0;
	left: 2%;
	font-size: 300%;
	cursor: pointer;
}

@media only screen and (max-width: 450px) {

	#nav-icon {
		font-size: 150%;
	}

}



/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
	transition: margin-left .5s;
	min-height: 100%;
  	position:relative;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media only screen and (max-width: 450px) {
.sidenav {
	padding-top: 10px;
}

.sidenav a {
	margin-top: 15px;
	font-size: 15px;
}
}
/* end of nav component*/

/*main body*/
.bgimg-1, .bgimg-2, .bgimg-3 {
	position: relative;
	opacity: 0.95;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
}

.bgimg-1 {
	background-image: url("https://images.unsplash.com/photo-1456030680012-9aa5bd962cc4?auto=format&fit=crop&w=1500&q=80");
	min-height: 100%;
	line-height: 65px;
}

.bgimg-2 {
	background-image: url("https://images.unsplash.com/photo-1505238680356-667803448bb6?auto=format&fit=crop&w=1500&q=80");
	min-height: 400px;
}

.bgimg-3 {
	background-image: url("https://images.unsplash.com/photo-1509092564125-0a8f31e9710e?auto=format&fit=crop&w=1500&q=80");
	min-height: 400px;
}

.caption {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
	top: 220px;
}

.caption span.border {
	color: #fff;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;
}

.border {
	background-color: black;
	opacity: .75;
}

.WordHeader {
	text-align: center;
	background-color: black;
	margin: 0;
}

h3 {
	letter-spacing: 5px;
	text-transform: uppercase;
	font: 20px "Lato", sans-serif;
	color: #f1f1f1;
	margin : 0;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
.bgimg-1, .bgimg-2, .bgimg-3 {
	background-attachment: scroll;
}
}
/*end of body*/

/*start of background video*/
.homepage-hero-module {
	border-right: none;
	border-left: none;
	position: relative;
	display:inline;
}

.no-video .video-container video,
.touch .video-container video {
	display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
	display: block !important;
}

.video-container {
	position: relative;
	bottom: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: #000;
}

.video-container .poster img {
	width: 100%;
	bottom: 0;
	position: absolute;
}

.video-container .filter {
	z-index: -100;
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
}

.video-container video {
	position: relative;
	z-index: 0;
	bottom: 7px;
	margin-bottom: -7px;
}

.video-container video.fillWidth {
	width: 100%;
}
/*end of background video*/

/*start of images in a row*/
.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	height: 300px;
	align-items: center;
	width: 100%;
	margin-top: 5%;
	padding:10px;
    padding-bottom:60px;
}

.container-img {
	position: relative;
	width: 40%;
	margin-top: 2%;
	margin: 5%;
}

.prjc-img {
	border-radius: 25px;
	width: 100%;
	display: block;
  	max-height: 375px;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: black;
}

.container-img:hover .overlay {
	opacity: 1;
	border-radius: 25px;
}

.text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}
/*end of images in a row*/

/*start of header title*/
#header {
	display: flex;
	flex-flow: row ;
	justify-content: center;
}

#header >h1 {
	position: absolute;
	z-index: 1;
	padding: 10px;
	font-size: 3.5rem;
}

@media only screen and (max-width: 450px) {

#header >h1 {
	font-size: 1rem;
	top: 5%;
}
}

/*end of header title*/

/*start of side-logos icons */
.sticky-container{
	padding:0px;
	margin:0px;
	position:fixed;
	right:-125px;
	top:230px;
	width:210px;
	z-index: 1100;
}

.sticky li{
	list-style-type:none;
	color:#f1f1f1;
	height:43px;
	padding:0px;
	margin:0px 0px 5px 0px;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
	cursor:pointer;
}
.sticky li:hover{
	margin-left:-50%;
}
.sticky li img{
	float:left;
	margin:5px 4px;
	margin-right:5px;
}
.sticky li p{
	padding-top:5px;
	margin:0px;
	line-height:16px;
	font-size:11px;
	padding-left: 50px;
}
.sticky li p a{
	text-decoration:none;
	color:#f1f1f1;
}

.sticky li p a:hover{
	text-decoration:underline;
}

/*start of footer*/
.footer {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

footer {
	position: absolute;
	bottom: -125%;
	width: 85%;
	height: 60px;
	text-align: center;
	color: #f1f1f1;
	background: white;
	padding-bottom: 100px;
}

#footerImg {
	height: 20%;
	width: 10%;
}

@media only screen and (max-width: 450px) {
	.flexContainer {
		padding: 20px;
	}

	.footer {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		height: 20px;
	}

	footer {
		position: absolute;
		bottom: -30%;
		width: 85%;
		height: 5%;
		text-align: center;
		color: #f1f1f1;
		background: white;
		padding-bottom: 45px;
	}

	#footerImg {
		height: 20%;
		width: 10%;
	}

}
/*end of footer*/
