/*TAG SELECTORS*/
h1 {
	color: blue;
	text-align: center;
	font-family: sans-serif;
}

h2, h3 {
	color: orange;
	font family: sans-serif;
}


/*TAG INSIDE TAG SELECTOR*/
section > h2 {
	color: gray;
}


/*PSEUDO-SELECTORS*/
a:hover {
	color: green;
	font-size: 20px;
}

a:visited {
	color: gray;
}

p::first-letter {
	font-size: 20pt;
}


/*USING IDs*/
/*with the id attribute you can select one specific element*/
#p_one {
	color: yellow;
}

#p_two {
	color: green;
}


/*Classes*/
/*using the class attribute you can select multiple elements*/
.my_class {
	color: yellow;
}
