<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello Adorable Cat Emoji</title>
  </head>
  <body>
    <h1> Hello Adorable Cat Emoji </h1>
    <a href='/'> Go Back </a>
  </body>
</html>
