<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1> San Diego Trivia </h1>
    <strong>
      <%= question %>
    </strong>
    <br />
    <%= answer %>
    <br />
    <a href= '/'> Back </a>
  </body>
</html>
