<html>
  <head>
  </head>
  <body>
    <h1> San Diego Trivia </h1>
    <ul>
		<% for( var  key in questions) {%>
			<li>
				<a href="/trivia/<%= key %>">
					<%= questions [key]["question"] %>
				</a>
			</li>
		<%s} %>
	</ul>


  </body>
</html>
