.box {
	height: 250px;
	max-width: 500px;
	border: 2px solid black;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

img {
	height: 100%;
	width: 100%;
}

p {
	text-align: center;
}

@media screen and (min-width: 900px) {

	img {
		display: none;
	}
}

@media screen and (max-width: 900px) {

	p {
		display: none;
	}
}
