.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#name-help-block,#age-help-block,#enjoys-help-block,#city-help-block {
	color: red;
}

#cats-link {
	padding-left: 5em;
}

#new-cat-div-wrapper {
display: center;
}


#new-cat-form {
	display: inline-block;
	margin: 14%;
}
#cat-image {
	position: absolute;
	height: 90%;
	width: 33%;
	margin: 5%;
}

#first-row {
	text-align: center;
	margin-left: 20%;
}

.has-error>input{
    border-color: red;
	box-shadow: none ;
    -webkit-box-shadow: none ;
}
