.header{
  text-align: center;
}

.input_header{
  display: inline-block;
}

.input_field{
  margin-left: 20px;
  display: inline-block
}

.good_robot{
  text-align: center;
  margin: 100px;
}

.bad_robot{
  text-align: center;
  margin: 100px;
}

.kanye_bot{
  text-align: center;
  margin: 100px;
}

.footer{
  text-align: center;
  margin-top: 100px;
}
