@import url('https://fonts.googleapis.com/css?family=Orbitron');

* {
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url("https://images.unsplash.com/photo-1513102419401-0cc6054c8127?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a321b9187874daa6fd52fb0b403d72a1&auto=format&fit=crop&w=1050&q=80");
	background-repeat: no-repeat;
	background-size: cover;
	display: inline;
}

.main {
	background: white;
	width: 22%;
	height: 25%;
	margin: 100px auto;
	position: absolute;
	margin-top: 35%;
	left: 39%;
}


.badge {
	text-align: center;
	width:22%;
	background-color: black;
	color: white;
	padding: 5px 5px;
	font-family: sans-serif;
	font-weight: bold;
	position: absolute;
	top: 0px;
	left: 39%;
}

.clock {
	background-color: black;
	text-align: center;
	font-size: 150%;
	height: 100%;
	padding-top: 25%;
	font-family: Orbitron;
	color: white;
}
